strong {
  font-family: "Arcade In";
}

.blur-effect {
  filter: blur(5px);
}

.canvas-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.canvas-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  text-align: center;
}

a {
  font-family: "Arcade In";
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 48px;
  color: white;
}

a:hover {
  font-size: 84px;
}

a:active {
  color: rgb(191, 191, 191);
}

i {
  font-size: 1rem;
}
