<h1>Tetris</h1>
<div>
  <canvas
    [ngClass]="{ 'blur-effect': completed || showNameInput }"
    #myCanvas
    width="500"
    height="400"
  ></canvas>
  <div
    class="centered-text"
    *ngIf="completed && !showNameInput"
    (click)="reset()"
  >
    <a>Retry</a>
    <i class="pi pi-replay"></i>
  </div>
  <div *ngIf="showNameInput" class="name-input-modal">
    <div class="modal-content">
      <h2>Game Over!</h2>
      <input [(ngModel)]="playerName" type="text" />
      <button (click)="submitName()">Done</button>
    </div>
  </div>
</div>
<strong
  >Puntuación: <span>{{ score }}</span></strong
>
