a {
  font-family: "Arcade In";
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 68px;
  color: white;
}

a:hover {
  font-size: 84px;
}

a:active {
  color: rgb(191, 191, 191);
}

.image-row {
  display: flex;
  justify-content: center;
}

.image-row img {
  width: calc(17% - 10px);
  height: auto;
  margin: 0.5rem;
}

.image-row img.s-block,
.image-row img.t-block {
  width: calc(22% - 10px);
  height: auto;
  margin: 0.5rem;
}

@keyframes fall {
  from {
    transform: translateY(-400%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fall-animation {
  animation: fall 2s ease-out forwards;
}

.s-block,
.t-block,
.block-square {
  opacity: 0;
}

.block-square {
  animation-delay: 0.5s;
}

.s-block {
  animation-delay: 1s;
}

.t-block {
  animation-delay: 1.5s;
}
