a {
  font-family: "Arcade In";
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: 68px;
  color: white;
}

a:hover {
  font-size: 84px;
}

a:active {
  color: rgb(191, 191, 191);
}

.image-row {
  display: flex;
  justify-content: center;
}

.image-row img {
  width: calc(17% - 10px);
  height: auto;
  margin: 0.5rem;
}

.image-row img.s-block,
.image-row img.t-block {
  width: calc(22% - 10px);
  height: auto;
  margin: 0.5rem;
}
